@media (max-width: 600px){
    .products{
        display: inherit;
        height: auto;
    }

    .product{
        margin-top: auto;
    }
    
    .main_section{
        padding: 4%;
    }

    .items{
        display: inherit;
        height: auto;
        margin-bottom: 100px;
    }

    footer h3{
        font-size: 15px;
    }
}