/*--------Variables*/
:root{
    --green-color:#7ACC2D;
    --white-color:white; 
    /*Espaciado*/
    --space: 10px;
}
/*--------Variables*/

html,body{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    justify-content: space-between;
    align-items: center;
}

.nav_options ul{
    display: flex;
}

.nav_options li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    color: var(--white-color);
}

/*------------main section*/

.main_section{
    padding: 10%;
    text-align: center;
}

.products{
    background-image: url("../images_ejemplo/curve.png");
    height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
}

.product{
    padding: var(--space);
    margin-top: -310px;
}

.product .content{
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: 3px 2px 2px #abaaaa;
}

.img_content{
    text-align: center;
}

.main_button{
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: 17px;
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

.main_button:hover{
    background-color: #5da21b;
}

/*------------main section*/

/*------------one section*/
.items{
    display: flex;
    padding: 10%;
    height: 50px; 
    margin-bottom: 300px;
}

.item{
    padding: 10px;
}

.item .item_content{
    box-shadow: 0 0 2px black;
    padding: 15px;
    background-color: #eeeeee;
    background-position: center top;
} 

.item_img{
    text-align: center;  
}

.items h1{
    text-align: center;
}
/*------------one section*/
/*------------fooder*/
footer{
    background-color: var(--green-color);
    height: 35px;
}

footer h3{
    font-size: 25px;
    text-align: center;
    margin: 0;
}
/*------------fooder*/